.principal{
	text-align: center;
	margin: auto;
	height: auto;
	padding: 20px;
	width: 60%;
	border-radius: 5px;
}

.datos{
	background: lavender;
	padding: 10px;
	border-radius: 10px;
}

.lenguajes{
	background: beige;
	text-align: left;
	width: 50%;
	margin: 5px;
	text-align: center;
}

.divLen{
	text-align: left;
	align-items: center;
	width: auto;
}

.cajaTxt{
	text-align: center;
	background: azure;
	padding: 10px;
	border-radius: 10px;
}

.divImg{
	display: center;
}

.imagenes{
	width: auto;
	height: 240px;
	border-radius: 20px;
}

.pgBody{
	margin: auto;
	display: auto;
	
	padding: 5px;
}

.divPgN{
	
	padding: 10px;
	width: auto;
} 

.texTarea{
	border: 2px solid #990000;
	background-color: snow;
}

.sel{
	margin: 10px;
}

.roww {
  display: flex;
  margin: 5px;
}

.proAca{
	background: mintcream;
	text-align: center;
	width: 50%;
	margin: 5px;
}
<<<<<<< HEAD

.selector-box {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.selector-box {
    width: 276px;
    padding: 0 25px;
    padding-bottom: 50px;
    background-color: #323232;
    z-index: 1;
    width: 326px;
    padding-bottom: 80px;
}

.selector-box .title {
    color: #ffffff;
    padding: 18px 0;
    line-height: 1.875rem;
    border: none;
    font-size: 1.375rem;
    font-weight: 600;
    margin: 0;
    font-size: 23px;
    line-height: 60px;
}

.title {
    text-align: center;
}

.content .title {
    margin-top: -2px;
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 38px;
}

.selector-box p {
    line-height: 1.5625rem;
    margin-bottom: 25px;
    font-weight: 300;
    color: #525252;
}
.selector-box .tab-wrapper {
    margin: 0 -25px;
    border-bottom: 1px solid #858585;
    display: -moz-box;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-bottom: 45px;
    position: relative;
    display: none;
}

.selector-box .button {
    width: 226px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 46px;
    height: 46px;
    font-size: .875rem;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    position: absolute;
    bottom: -23px;
    width: 276px;
    background-color: #FF9700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
=======
>>>>>>> 300ee1170b3b865c9b33450b3c20e4b5afced994
